# Системные файлы
*.o                # Объектные файлы
*.exe              # Исполняемые файлы
*.out              # Выходные файлы
*.log              # Логи

# Файлы, сгенерированные компилятором
*.d                # Файлы зависимостей
*.class            # Файлы классов Java
*.pdb              # Файлы отладчика (Windows)

# Инструменты сборки
build/             # Директория сборки
bin/               # Директория бинарных файлов
CMakeFiles/       # Файлы CMake
Makefile           # Скомпилированные файлы Make
cmake_install.cmake
CMakeCache.txt

# IDE файлы
*.vscode/          # Конфигурация VS Code
*.idea/            # Конфигурация JetBrains IDE
*.sublime-project   # Sublime Text проект
*.sublime-workspace # Sublime Text рабочее пространство

# Локальные настройки
*.swp              # Файлы временного сохранения Vim
*.tmp              # Временные файлы

# Другие
*.user             # Локальные файлы настройки
